// Print-only styles.
@media print {
  .side-bar,
  .page-header {
    display: none;
  }
  .main-content {
    max-width: auto;
    margin: 1em;
  }
}
.skip-to-main { // Replace '.skip-link' with the actual class name found during inspection
  display: none !important;
}
body > svg:first-child {
 display: none !important;
}
